*{
    padding: 0%;
    margin: 0%;
}

/*header*/
header{
    background-color: rgba(145, 62, 212, 0.274);
    box-shadow: 5px 10px 20px #F8C0C8;
    position: fixed;
    width: 100%;
    margin-bottom: 2%;
}
nav{
    
    padding: 0.5% 0%;
    text-align: right;
    
}
.menu{
    display: none;
}
ul{
    list-style: none;
    padding: 1%;
    margin-right: 2%;
}
header li{
    display: inline;
    padding: 0.6% 0.8%;
    margin: 1% 0.5%;
    background-color: rgba(228, 92, 160, 0.671);
    border-radius: 40px;
    font-family: 'Monoton', cursive;
    font-size: 1.5vw;    
}
header li:hover{
    box-shadow: 2px 1px 24px 19px #6BE9F9;
    border-radius: 40px;
}
header a{
    text-decoration: none;
    color: rgb(54, 47, 150);
    text-transform: uppercase;
}
header a:hover{
    color: steelblue;
}
.buttdif{
    background-color: aqua;
    text-transform: uppercase;
}
.buttdif:hover{
    box-shadow: 2px 1px 24px 19px #F8C0C8;
    border-radius: 40px;
}
/*MAIN*/
main{
    box-shadow: inset -69px 37px 24px -68px lightskyblue;
    background-image: url("../img/bg1.jpg");
    background-repeat: repeat;
    display: inline-block;
}
/*sección de presentación*/
.primera{
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    padding: 4%;
    padding-top: 10%;
}
.text{
    flex-basis: 45%;
    text-align: center;
}
.imagen{
    flex-basis: 45%;
}
h1{
    font-size: 3vw;
    font-family: 'Gluten', cursive;
    color: cornflowerblue;
}
.primera h1{
    margin-top: 0.8em;
    padding-top: 1em;
}
h2{
    font-size: 6vw;
    font-family: 'Dancing Script', cursive;
    color: #9C0D38;
}
.parrafo{
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    margin-bottom: 2em;
    margin: 0.2em;
}
.primera a{
    color: hotpink;
    font-family: 'Gluten', cursiv;
    text-decoration: none;
}
.primera li{
    list-style: none;
    padding: 0.3em;
    margin: 1em auto;
    width: 10em;
    border: 2px solid rgb(54, 47, 150);
    border-radius: 20px;
    font-family: 'Monoton', cursive;
    font-size: 1.5vw;
}

/*sección de conocimientos*/

.segunda, .cuarta{
    text-align: center;
    margin: 4% auto;
    padding: 2%;
    padding-top: 6%;
    width: 70%;
    background-color: rgba(50, 33, 54, 0.74);
    box-shadow: 2px 1px 24px 19px #6BE9F9;
}
.c1{
    width: 25%;
    margin: 3% 1%;
    padding: 1%;
}
.c1:hover{
    box-shadow: 2px 1px 24px 19px #6BE9F9;
    border-radius: 5px;
}
img{
    width: 100%;
}
.segunda img{
    width: 40%;
    margin: 5%;
}
#caja3 img{
    width: 55%;
}
#caja5 img{
    width: 50%
}
.parrafo2{
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(132, 204, 192);
    padding-top: 2em;
    padding-bottom: 2em;
}
figcaption{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.divflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*sección de cita*/

.tercera{
    background-color: rgba(161, 118, 189, 0.295);
    text-align: center;
}
.cita{
    width: 40%;
    margin: 1% auto;
}
.tercera i{
    color: cornflowerblue;
    font-size: 8vw;
}
/*sección de contacto*/

.quinta{
    display: flex;
    width: 70%;
    padding: 5% 2%;
    margin: 1em auto;
    justify-content: center;
    text-align: left;
    background-color: rgba(161, 118, 189, 0.295);
}
.quinta p{
    font-size: 1.3vw;
    color: rgb(241, 114, 110);
    font-weight: bold;
}
.quinta i{
    font-size: 2vw;
}
.linkcontacto{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Gluten', cursive;
    color: slateblue;
}
.linkcontacto:visited{
    color: rgb(207, 106, 202);
}
.linkcontacto:hover{
    color: cyan;
}
.columna{
    margin: 1% auto;
    padding: 3%;
    flex-basis: 40%;
}
/*formulario*/
.cajaform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input[type=text], [type=email]{
    background-color: rgba(241, 142, 167, 0.801);
    border: 2px solid rgb(142, 160, 241);
    border-radius: 25px;
    height: 2em;
    width: 100%;
    margin: 1% auto;
}
input[type=email]{
    width: 100%;
}

input, textarea{
    color: rgb(121, 14, 221);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1vw;
    padding: 2%;
}
textarea{
    background-color: rgba(241, 142, 167, 0.801);
    border: 2px solid rgb(142, 160, 241);
    border-radius: 25px;
    width: 100%;
}
.small{
    flex-basis: 45%;
}
.large{
    flex-basis: 100%;
}
label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    font-weight: bold;
}
button{
    background-color: cornflowerblue;
    font-family: 'Gluten', cursiv;
    border: 2px solid darkblue;
    padding: 1%;
    border-radius: 10px;
}

/*aqui comienza el footer*/

footer{
    text-align: center;
    padding: 3%;
    background-color: rgb(142, 160, 241);
}
footer .menu{
    display: none;
}
footer li{
    display: inline;
}
.footli{
    margin: 1% 0.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    text-transform: uppercase;
}
footer a{
    margin: 1%;
    text-decoration: none;
    color: rgb(226, 30, 144);
    text-transform: uppercase;
}
footer a:hover{
    color: rgb(247, 196, 238);
}

/*media queries*/

@media (max-width: 768px){
    nav{
        text-align: center;
    }
    .primera{
        flex-wrap: wrap;
        padding: 1%;
        padding-top: 5%;
    }
    h1{
        font-size: 2.5rem;
    }
    .columna .parrafo2{
        font-size: 0.8rem;
    }
    .quinta a{
        font-size: 1rem;
    }
    .quinta i{
        font-size: 1.5rem;
    }
    .text{
        flex-basis: 75%;
        text-align: center;
    }
    .imagen{
        flex-basis: 75%;
    }
    .segunda, .cuarta{
        margin: 4% auto;
        padding-top: 8%;
        width: 90%;
    }
    .quinta{
        width: 90%;
        flex-wrap: wrap; -----------*
    }
    .c1{
        width: 45%;
        margin: 3% 1%;
        padding: 1%;
    }
    .parrafo2{
        font-size: 1rem;
    }
    .columna{
        flex-basis: 80%;
    }
    .cajaform
    input, textarea{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
    footer i{
        font-size: 1rem;
    }
}
@media (max-width: 425px){
    header{
        text-align: center;
    }
    nav{
        display: none;
    }
    nav:hover{
        display: block;
    }
    .menu{
        display: block;
    }
    .divflex{
        flex-direction: column;
        justify-content: space-around;
    }
    .primera{
        
        padding-top: 2%;
    }
    .imagen{
        flex-basis: 75%;
    }
    .c1{
        width: 75%;
        margin: 1% auto;
    }
    .quinta{
        flex-direction: column;
        padding: 2%;
    }
    .columna{
        text-align: justify;
    }
    .columna .small{
        flex-basis: 90%;
    }
    .footli{
        display: none;
    }
    footer .menu{
        display: block;
    }
        
}
